# Junk Apple file
.DS_STORE

#Even git-lfs won't handle these...
uniprot-all-list.txt

# UniProt files
uniprot_bin/*.txt

# Secrets secrets
tmh_database/tmh_database/secret_key.txt

*.tsv
*.csv
*.txt
*.pdf

tmh_database/*.xml
