# Junk Apple file
.DS_STORE

#Even git-lfs won't handle these...
uniprot-all-list.txt
scripts/external_datasets/topdb_all.xml

# pyc files.
*.pyc

# UniProt files
scripts/external_datasets/uniprot_bin/*.txt

# SIFT mappings
scripts/external_datasets/sifts_mapping/*.json

# Fasta files
scripts/external_datasets/fasta_bin/*.fasta
scripts/external_scripts/dgpred/inputseq.fasta
scripts/external_scripts/tmsoc/inputseq.fasta

# Text files and lists
!scripts/external_datasets/exclusion_list.txt
!version_key.txt
!requirements.txt


# Secrets secrets
tmh_database/tmh_database/secret_key.txt
tmh_database/tmh_database/settings.py
tmh_database/tmh_database/password.txt

*.json
*.ali
*.tsv
*.csv
*.txt
*.pdf
*.pdb
*.pml
*.sth
pymol_gifs/
scripts/external_datasets/*.xml

images/
scratch.py
