# Junk Apple file
.DS_STORE

#Even git-lfs won't handle these...
uniprot-all-list.txt
scripts/external_datasets/topdb_all.xml

# pyc files.
*.pyc

# UniProt files
scripts/external_datasets/uniprot_bin/*.txt

# SIFT mappings
scripts/external_datasets/sifts_mapping/*.json

# Fasta files
scripts/external_datasets/fasta_bin/*.fasta
scripts/external_scripts/dgpred/inputseq.fasta
scripts/external_scripts/tmsoc/inputseq.fasta


# Secrets secrets
tmh_database/tmh_database/secret_key.txt
tmh_database/tmh_database/settings.py
tmh_database/tmh_database/password.txt

*.tsv
*.csv
*.txt
*.pdf
*.pdb

scripts/external_datasets/*.xml

!version_key.txt

!requirements.txt

tm_virtualenv/
images/
scratch.py
tmh_env
